@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --map-fill: #121214;
  --map-stroke: #29292B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --map-fill: #EAEAEC;
    --map-stroke: #D6D6DA;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
